#main{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2vmax;
}
h3{
	line-height: 1.2;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
p{
	font-size: 10px;
	font-family: Arial;
	line-height: 1.2;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#mapControl{
	float:left;
	width:48%;
	height:30vw;
	/*box-shadow: 0 0 5px #888888;*/
}

select{
	float: left;
	margin-top: 2%;
	margin-left: 2%;
	height: 3vw
}

#mapContainer{
	float: left;
	width: 100%;
	height: 25vw;
	/*box-shadow: 0 0 5px #888888;*/
}
#legendAndButtons{
	float:left;
	margin-left: 2%;
	width:100%;
	height:4vw;
	/*box-shadow: 0 0 5px #888888;*/
}

#panelContainer{
	float:right;
	width: 50%;
	height:32vw;
	/*box-shadow: 0 0 5px #888888;*/
}




/*Map CSS*/
.nuts-boundary{
	fill:none;
	stroke: grey; /*rgb(160,160,160);*/
	stroke-width:1px;
	stroke-linejoin:round;
	stroke-linecap:round;
	transition: stroke 300ms, stroke-width 300ms;
}
.country-boundary{
	fill:none;
	stroke: black; /*rgb(160,160,160);*/
	stroke-width:1px;
	/*stroke-dasharray: 2,2;*/
	stroke-linejoin:round;
	stroke-linecap:round;
}

.hover{
	stroke: red;
	stroke-width:2px;
}

#legend{
	float:left;
	width:43%;
	height:100%;
}

form{
	width:54%;
	float: right;
}

.legendLabels{
	font-family:Arial;
	font-size: 12px;
	alignment-baseline:hanging;
	text-anchor:end;
}
/*Panel CSS*/
.catLabel{
    font-family:Arial;
    /*text-anchor:end;*/
    alignment-baseline:hanging;
    font-style: italic;
    font-weight: bold;
}

.hoverRects{
	opacity: 0;
}

.subLabels{
    font-size:11px;
    font-family:Arial;
    font-style: normal;
    text-anchor:end;
    alignment-baseline:hanging;
    transition: font-style 300ms;
}


.xAxis path{
	fill:none;
	stroke:lightgrey;
}
.xAxis line{
 	fill:none;
 	stroke: rgb(200,200,200);
 	stroke-width: 1px;
 	shape-rendering: crispEdges;
 }

.xAxis text{
 	font-size: 11px;
 	font-family: Arial;
 }
