#main{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2vmax;
}

.controls{
	width: 100%;
	height: 30px;
	/*box-shadow: 0 0 5px #888888;*/
}
select{
	float: left;
}
form{
	float: right;
}

#mapContainer{
	float:left;
	width:48%;
	height:30vw;
	/*box-shadow: 0 0 5px #888888;*/
}

#panelContainer{
	float:right;
	width: 50%;
	height:30vw;
	/*box-shadow: 0 0 5px #888888;*/
}

/*Map CSS*/
.nuts-boundary{
	fill:none;
	stroke: grey; /*rgb(160,160,160);*/
	stroke-width:1px;
	stroke-linejoin:round;
	stroke-linecap:round;
}
.country-boundary{
	fill:none;
	stroke: black; /*rgb(160,160,160);*/
	stroke-width:1px;
	/*stroke-dasharray: 2,2;*/
	stroke-linejoin:round;
	stroke-linecap:round;
}
/*Panel CSS*/
.hLines{
	stroke: lightgrey;
	stroke-width: 0.4px;
}

.vLines{
	stroke: lightgrey;
	stroke-width: 0.4px;
}

.symbols {
    font-family: FontAwesome;
    opacity: 0.6;
 }
 .xAxis path, .xAxis line{
 	fill:none;
 	stroke: lightgrey;
 	shape-rendering: crispEdges;
 }

 .xAxis text{
 	font-size: 12px;
 	font-family: sans-serif;
 }

.yLabels{
	vertical-align: middle;
}





